.git
.venv
node_modules
frontend/node_modules
static/dist
static/css
staticfiles
__pycache__
.env
.env.*
media
*.pyc
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
htmlcov
.DS_Store
.cache
deployment
docs
logo
scripts
