DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=dev-insecure-secret
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_VITE_DEV_MODE=True
DATABASE_URL=postgres://app:app@db:5432/reviewmaster
REDIS_URL=redis://redis:6379
DEFAULT_FROM_EMAIL=noreply@example.com
DEFAULT_REPLY_TO=support@example.com
