<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.html" %}
  </head>
  <body class="bg-bg font-sans text-text min-h-screen antialiased">
    <a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:top-2 focus:left-2 focus:z-50 focus:px-3 focus:py-2 focus:bg-yellow focus:text-black focus:rounded-md">Skip to main content</a>
    {% include "partials/shell_open.html" %}
    <main id="main-content" data-testid="main-content" class="flex-1 bg-bg p-4 md:p-8" tabindex="-1">
      {% block content %}{% endblock %}
    </main>
    {% block extra_js %}{% endblock %}
    {% include "partials/shell_close.html" %}
    {% include "components/toasts.html" %}
  </body>
</html>
